/*
Menu Hamburguesa
*/
.wrapper_menu_hamburguesa {
  position: fixed;
  box-sizing: border-box;
  top: 15px;
  right: 15px;
  background-color: white;
  border: 1px solid black;
  padding-inline: 5px;
  border-radius: 5px;
  z-index: 1050;
}

.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: black;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}
#hamburger-1 {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-1.is-active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-1.is-active .line {
  width: 35px;
}

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

.offcanvas {
  max-width: 60%;
}
/*
Estilos Inside Menu Lateral
*/
.offcanvas-header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.offcanvas-header .contenedor_logo {
  width: 50%;
  margin-inline: auto;
}
.offcanvas-header img {
  width: 100%;
}
.backdrop_menu_lateral.is-active {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1040;
  width: 100vw;
  height: 100vh;
}
.offcanvas-title {
  text-align: center;
  font-family: var(--font-titulos);
  font-weight: 700;
}

.offcanvas-body {
  text-align: center;
  font-family: var(--font-titulos);
  font-weight: 700;
}
.offcanvas-body li {
  padding-block: 1rem;
  cursor: pointer;
  color: black;
}
.offcanvas-body a {
  text-decoration: none;
  color: inherit;
}
.offcanvas-body li:hover {
  background-color: black;
  color: white;
}
