.buscar_superhero {
  padding-bottom: 2rem;
}

h3 {
  font-family: var(--font-titulos);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  width: fit-content;
  margin: auto;
  padding-block: 1rem;
}
.buscar_superhero_wrapper_input_group,
.wrapper_buscar_id_input_group {
  width: 80%;
  max-width: 400px;
  margin: auto;
}
.nombre_label_input,
#input_group_buscar_id {
  color: white;
  font-family: var(--font-elementos);
  cursor: pointer;
}
.buscar_superhero_resultado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buscar_superhero_resultado span:first-child {
  font-family: var(--font-elementos);
  font-weight: 700;
}

.button_buscar_id,
.button_buscar_por_id {
  display: block;
  margin: auto;
  font-family: var(--font-elementos);
}

.id_resultado {
  border: 1px solid black;
  background-color: yellow;
  width: 100px;
  font-size: 1rem;
  overflow-y: auto;
  font-family: var(--font-titulos);
  font-weight: bold;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 5px;
}
.mensaje_input_buscar_id {
  color: red;
  font-weight: 700;
  font-family: var(--font-elementos);
  visibility: hidden;
}
.mensaje_input_buscar_id-invalido {
  visibility: visible;
}
